**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [141]:
import pandas as pd
import numpy as np

In [142]:
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
birds_df = pd.DataFrame({'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills',
                                'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
                       'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
                      'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 
                      'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}, index =labels)
birds_df

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [143]:
birds_df.describe()

            age     visits
count  8.000000  10.000000
mean   4.437500   2.900000
std    2.007797   0.875595
min    1.500000   2.000000
25%    3.375000   2.000000
50%    4.000000   3.000000
75%    5.625000   3.750000
max    8.000000   4.000000

**3. Print the first 2 rows of the birds dataframe **

In [144]:
birds_df.head(2)

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [145]:
birds_df[['birds','age']]

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

**iloc** Purely integer-location based indexing for selection by position.
[source](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.html)

In [146]:
birds_df.iloc[[2,3,7]][['birds','age','visits']]

        birds  age  visits
c     plovers  1.5       3
d  spoonbills  NaN       4
h      Cranes  NaN       2

**6. select the rows where the number of visits is less than 4**

In [147]:
birds_df[birds_df.visits < 4]

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [148]:
birds_df[birds_df['age'].isnull()]

        birds  age  visits priority
d  spoonbills  NaN       4      yes
h      Cranes  NaN       2      yes

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [149]:
birds_df[(birds_df.birds == 'Cranes')&(birds_df.age < 4)]

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

**9. Select the rows the age is between 2 and 4(inclusive)**

In [150]:
birds_df[(birds_df.age >= 2)&(birds_df.age <= 4)]

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

**10. Find the total number of visits of the bird Cranes**

In [151]:
birds_df['visits'].sum()

29

**11. Calculate the mean age for each different birds in dataframe.**

In [152]:
grp = birds_df.groupby('birds')
for bird, df in grp:
  print(bird, df['age'].mean())

Cranes 3.5
plovers 3.5
spoonbills 6.0

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [153]:
lst = [i+1 for i in range(len(birds_df))]
birds_df['k'] = lst
birds_df

        birds  age  visits priority   k
a      Cranes  3.5       2      yes   1
b      Cranes  4.0       4      yes   2
c     plovers  1.5       3       no   3
d  spoonbills  NaN       4      yes   4
e  spoonbills  6.0       3       no   5
f      Cranes  3.0       4       no   6
g     plovers  5.5       2       no   7
h      Cranes  NaN       2      yes   8
i  spoonbills  8.0       3       no   9
j  spoonbills  4.0       2       no  10

In [154]:
birds_df = birds_df.drop(['k'], axis = 1)
birds_df

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**13. Find the number of each type of birds in dataframe (Counts)**

In [155]:
for bird,df in grp:
  print(bird,df['birds'].count())

Cranes 4
plovers 2
spoonbills 4

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [156]:
birds_df = birds_df.sort_values(by = 'age',
                                ascending =False).sort_values(by='visits')
birds_df

        birds  age  visits priority
g     plovers  5.5       2       no
j  spoonbills  4.0       2       no
a      Cranes  3.5       2      yes
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
e  spoonbills  6.0       3       no
c     plovers  1.5       3       no
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
d  spoonbills  NaN       4      yes

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [157]:
birds_df = birds_df.replace(['yes','no'],[1,0])
birds_df

        birds  age  visits  priority
g     plovers  5.5       2         0
j  spoonbills  4.0       2         0
a      Cranes  3.5       2         1
h      Cranes  NaN       2         1
i  spoonbills  8.0       3         0
e  spoonbills  6.0       3         0
c     plovers  1.5       3         0
b      Cranes  4.0       4         1
f      Cranes  3.0       4         0
d  spoonbills  NaN       4         1

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [158]:
birds_df = birds_df.replace({'birds':'Cranes'},'trumpeters')
birds_df

        birds  age  visits  priority
g     plovers  5.5       2         0
j  spoonbills  4.0       2         0
a  trumpeters  3.5       2         1
h  trumpeters  NaN       2         1
i  spoonbills  8.0       3         0
e  spoonbills  6.0       3         0
c     plovers  1.5       3         0
b  trumpeters  4.0       4         1
f  trumpeters  3.0       4         0
d  spoonbills  NaN       4         1